<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BSTIntegrationExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="QXWebServiceURL" value="http://localhost:51443/Enrollment.asmx"/>
    <add key="QXEnrollmentServiceURL" value="http://localhost:51443/Enrollment.svc"/>
    <add key="QXEnrollmentServiceCertificateURL" value="http://localhost:51443/EnrollmentCert.svc"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6.1"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" defaultRedirect="ErrorPage.aspx"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
    <extensions>
      <bindingElementExtensions>
        <add name="HttpTransportElementWithWSDL" type="BSTIntegrationExample.HttpTransportElementWithWSDL, BSTIntegrationExample"/>
      </bindingElementExtensions>
    </extensions>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>-->
    <bindings>
      <customBinding>
        <binding name="AllowInsecureTransportBinding">
          <textMessageEncoding>
            <readerQuotas maxDepth="32" maxStringContentLength="30000000" maxArrayLength="30000000" maxBytesPerRead="30000000" maxNameTableCharCount="65536"/>
          </textMessageEncoding>
          <!--<security authenticationMode="SecureConversation" allowInsecureTransport="true" requireSecurityContextCancellation="true">
            <secureConversationBootstrap authenticationMode="UserNameOverTransport" requireDerivedKeys="false"/>
          </security>-->
          <!--If you dont need to establish a secure converstaion, you can use the following-->
          <security authenticationMode="UserNameOverTransport" allowInsecureTransport="true"/>
          <HttpTransportElementWithWSDL maxBufferPoolSize="30000000" maxReceivedMessageSize="30000000" maxBufferSize="30000000"/>
        </binding>
        <binding name="EncryptCertificateBinding">
          <security authenticationMode="MutualCertificate" messageProtectionOrder="EncryptBeforeSign" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" requireDerivedKeys="false"/>
          <textMessageEncoding messageVersion="Soap11"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BSTIntegrationExample.EnrollmentCertBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceSecurityAudit auditLogLocation="Application" suppressAuditFailure="true" serviceAuthorizationAuditLevel="Failure" messageAuthenticationAuditLevel="Failure"/>
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="BSTIntegrationExample.ServiceCertificateValidator, BSTIntegrationExample"/>
            </clientCertificate>
            <serviceCertificate findValue="CN=Server"/>
          </serviceCredentials>
        </behavior>
        <behavior name="BSTIntegrationExample.EnrollmentBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="BSTIntegrationExample.ServiceUserValidator, BSTIntegrationExample"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="BSTIntegrationExample.EnrollmentCertBehavior" name="BSTIntegrationExample.EnrollmentCert">
        <endpoint address="" binding="customBinding" bindingConfiguration="EncryptCertificateBinding" contract="BSTIntegrationExample.IEnrollment"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="BSTIntegrationExample.EnrollmentBehavior" name="BSTIntegrationExample.Enrollment">
        <endpoint address="" binding="customBinding" bindingConfiguration="AllowInsecureTransportBinding" contract="BSTIntegrationExample.IEnrollment"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>